.container {
  display:flex;

}

.main_container {
  margin: 50% auto;
  border: solid 1px black;
}

.main_container,
.numbers {
  flex-wrap: wrap;
  max-width: 300px;
}

.container#display {
  width:100%;
  flex-wrap: wrap;
  min-height: 55px;
  justify-content: center;
  flex-direction: row;
  border: solid 1px black;
}

#historicValues {
  height:25%;
  width: 85%;
  font-size: 1em;
  justify-content: right;
}

#mainDisplay {
  width: 100%;
  justify-content: right;
  font-size: 2em;
}

.container#keypad {
  width: 100%;
  height: 60vw;
  flex-wrap: nowrap;
}

.number,
.numbers > .operator, 
.numbers > .equals {
  width:33%;
}

.container.operators {
  flex-direction: column;
  width:25%;
  flex: 1 0 auto;
}

button {
  flex: 1 0 auto
}